.logoMovil /* PENSAR DIMENSIONES PARA MÓVIL */
{
    width: 10vw;
    height: 12vw;
}

.logoEscritorio
{
    width: 11vw;
    height: 13vw;
}

/* HEADER*/
header
{
  background-color: #F49CE5;
}

.navbar
{
  background-color: #F49CE5;
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.barraDeNavegacion
{
    height: 3vw;
}
/* Fin HEADER*/

.bigDiv
{
    height: 20vw;
}

.text-success 
{
    color: green;
}

.text-danger 
{
    color: red;
}

/*.search-results 
{
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .search-results ul 
  {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li 
  {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .search-results li a 
  {
    text-decoration: none;
    color: #333;
  }
  
  .search-results li:hover 
  {
    background: #f0f0f0;
  }*/
  
/* Sidebar */

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #F49CE5;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 10;
}

.container {
  margin-left: 250px; /* Espacio a la izquierda para el contenido en escritorio */
  transition: margin-left 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: #e08ccc;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  #sidebar {
    left: -250px; /* Oculta el sidebar en móvil */
  }

  #sidebar.active {
    left: 0; /* Muestra el sidebar cuando está activo */
  }

  .container {
    margin-left: 0; /* Quita el margen izquierdo en móvil */
  }

  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #F49CE5;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 20;
  }

  .sidebar-toggle.active {
    left: 265px; /* Ajusta la posición cuando el sidebar está abierto */
  }
}

/* Ensure proper display of list items in sidebar */
#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Fin sidebar */